header 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 100%;
}

droite 
{
    width: auto ;
    display:flex;
    flex-wrap: nowrap; 
}

gauche 
{
    width: 70%;
}


footer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 100%;
}

haut 
{
    width: auto ;
    display:flex;
    flex-wrap: nowrap; 
}